<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="info"/>
    <logger name="io.digitalstate" level="info"/>
    <logger name="io.netty" level="warn"/>
    <logger name="io.vertx" level="info"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>